---
---
@import "main";

.item-details {
	text-align: center !important;
}

.modal-content {
	p, ul {
		text-align: left;
		padding-bottom: 20px;
		line-height: 1.5em;
	}

	ul, li {
		font-size: 20px;
		padding-bottom: 20px;
	}

	ul {
		font-weight: bold;
	}
}

.container {
	ul, li {
		font-size: 20px;
		line-height: 1.5em;
	}

	ul {
		font-weight: bold;
	}

}
