---
layout: default
title: Resume
---
<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="/img/profile.png" alt="">
                <div class="intro-text">
                    <span class="name">Kimberly Eberz</span>
                    <hr class="star-light">
                    <span class="skills">User Experience Designer</span>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Portfolio</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            {% for project in site.projects %}
                <div class="col-sm-4 portfolio-item">
                    <a href="#{{project.id}}Modal" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                                <h3>{{project.title}}</h3>
                            </div>
                        </div>
                        <img src="{{ project.image }}" class="img-responsive" alt="">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 ">
                <p>Hi! I'm Kim, and I am a User Experience Designer. I craft designs on the intersection of users needs, behavioral psychology, technology, and business goals to create delightful experiences. </p>

                <p>In my free time I enjoy observing the world around me by running, riding my bicycle, and occasionally making memes.</p>
            </div>
            <div class="col-lg-6">
                <p>I am <strong>passionate,</strong> driven and self motivated. </p>

                <p>Highly enthused by <strong>team collaboration</strong> and all things design.</p>

                <p>I love solving difficult problems to <strong>help people.</strong></p>

                <p>I strongly empathize with users, and strive to be <strong>their crusader.</strong></p>

                <p>I am constantly <strong>adapting to change.</strong> I know how to follow a process and when to divert from one.</p>

            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="/img/portfolio/kimeberzres.pdf" download="Kimberly Eberz Resume" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download Resume
                </a>
            </div>
        </div>
    </div>
</section>

<!-- CV Section -->
<section id="cv">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>CV</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Experience</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2">
                <h4>RightScale</h4>
                <p>2013 - Current</p>
            </div>
            <div class="col-lg-6">
                <h4>Lead UX Designer</h4>
                <p>Responsible for UX research, design, and requirements gathering. Designed user flows, information architecture, wireframes and prototypes. Worked closely with a team of Developers, Architects, Product Managers, and Graphic Designers to deliver a new product.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2">
                <h4>QAD inc.</h4>
                <p>2012 - 2013</p>
            </div>
            <div class="col-lg-6">
                <h4>Lead UX Designer</h4>
                <p>Responsible for defining the User Experience goals and vision for new and existing products. Researched for on premise software, mobile applications, and web applications. Worked with developers to apply accepted usability standards, conduct usability tests, and visited customer sites for contextual inquiries.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2">
                <p style="padding-top: 6.5px;">2006 - 2012</p>
            </div>
            <div class="col-lg-6">
                <h4>Lead Quality Analyst</h4>
                <p>Responsibilities included planning, conducting tests, and analyzing usability heuristics. Also trained and managed several QA interns.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Education</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2">
                <h4>UC Riverside</h4>
                <p>Class of 2012</p>
            </div>
            <div class="col-lg-6">
                <h4>Business Economics, BA</h4>
                <p>3.40 GPA</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Training</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2 col-lg-offset-2">
                <h4>Edward Tufte</h4>
                <p>2013</p>
            </div>
            <div class="col-lg-6">
                <h4>Presenting Data and Information</h4>
                <p>Taught by Edward Tufte.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2">
                <h4>NN Group</h4>
                <p>2013</p>
            </div>
            <div class="col-lg-6">
                <h4>3 Day Interaction Training Course</h4>
                <p>Taught by Bruce "Tog" Tognazzini.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2">
                <h4>NN Group</h4>
                <p>2012</p>
            </div>
            <div class="col-lg-6">
                <h4>Basic UX Training Course</h4>
            </div>
        </div>
    </div>
</section>

<!-- Skillz Section -->
<section class="success" id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Skills</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h3>Product Design</h3>
                <ul>
                    <li>Interaction Design</li>
                    <li>Rapid Prototyping</li>
                    <li>User Research</li>
                    <li>Usability Testing</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h3>Tools of Choice</h3>
                <ul>
                    <li>Axure</li>
                    <li>Balsamiq</li>
                    <li>Sketch</li>
                    <li>Dot Grid Paper</li>
                </ul>

            </div>

            <div class="col-lg-4">
                <h3>Languages</h3>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                </ul>

            </div>
        </div>
    </div>
</section>

<!-- Process Section leave out for now-->
<!-- <section id="process">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Process</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <h3>Research</h3>
                <ul>
                    <li>Interaction Design</li>
                    <li>Rapid Prototpying</li>
                    <li>User Research</li>
                    <li>Usability Testing</li>
                </ul>
            </div>
        </div>



    </div>
</section> -->

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visble-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

{% for project in site.projects %}
<div class="portfolio-modal modal fade" id="{{project.id}}Modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        {{project.output}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}


