---
layout: default
title: Resume
---
<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="/img/profile.png" alt="">
                <div class="intro-text">
                    <span class="name">Kim Eberz</span>
                    <hr class="star-light">
                    <span class="skills">User Experience Designer</span>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Portfolio</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            {% for project in site.projects %}
                <div class="col-sm-4 portfolio-item">
                    <a href="#{{project.id}}Modal" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                                <h3>{{project.title}}</h3>
                            </div>
                        </div>
                        <img src="{{ project.image }}" class="img-responsive" alt="">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
            </div>
            <div class="col-lg-4">
                <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download Theme
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>CV</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Experience</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2">
                <h4>RightScale</h4>
                <p>2013 - Current</p>
            </div>
            <div class="col-lg-6">
                <h4>Head Interaction Designer</h4>
                <p>Responsible for UX research, design, and requirements gathering. Designed user flows, information architecture, wireframes and prototypes. Worked closely with a team of Developers, Architects, Product Managers, and Graphic Designers to deliver a new product.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2">
                <h4>QAD inc.</h4>
                <p>2012 - 2013</p>
            </div>
            <div class="col-lg-6">
                <h4>Lead UX Designer</h4>
                <p>Responsible for defining the User Experience goals and vision for new and existing products. Researched for on premise software, mobile applications, and web applications. Worked with developers to apply accepted usability standards, conduct usability tests, and visited customer sites for contextual inquiries.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2">
                <p style="padding-top: 6.5px;">2006 - 2012</p>
            </div>
            <div class="col-lg-6">
                <h4>Lead Quality Analyst</h4>
                <p>Responsibilities included planning, conducting tests, and analyzing usability heuristics. Also trained and managed several QA interns.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Education</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2">
                <h4>UC Riverside</h4>
                <p>Class of 2012</p>
            </div>
            <div class="col-lg-6">
                <h4>Business Economics, BS</h4>
                <p>3.40 GPA</p>
            </div>
        </div>
    </div>
</section>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visble-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

{% for project in site.projects %}
<div class="portfolio-modal modal fade" id="{{project.id}}Modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        {{project.output}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}


